@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: black;
    background-size: cover;
    backdrop-filter: brightness(0.8);
    overflow: hidden;
}

#navBar {
    height: 50px;
    width: 100%;
}

a img {
    padding-top: 10px;
    padding-left: 10px;
    width: 120px;
    height: auto;
    float: left;
}

ul {
    float: right;
    list-style: none;
    margin-right: 10px;
    margin-top: 10px;
}

ul li {
    display: inline;
    margin: 4px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    padding: 2px 5px;
    transition: all 0.3s ease;
}

ul li a:hover {
    background: orange;
    color:black;
    font-weight: bold;
    border: red;
    box-shadow:  0 0 5px #fff;
}

.outer {
    width: 100vw;
    height: 90%;
    text-align: center;
    position: relative;
}

.outer h1 {
    margin: 5% 0%;
    color: white;
    font-size: 4em;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
}

.row {
    width: 100%;
    height: 30%;
    margin: 150px 0;
    text-align: center;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}


.box {
    width: 50%;
    color: white;
    height: 100%;
    position: relative;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
}

.box p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 2em;
    transition: 1s;
    top: -10%;
    position: absolute;
}


.box:hover p {
    background: orange;
    color: black;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    top: 0%;
}

.box1 {
    background: url(/assets/Keep\ Exploring.jpg);
    background-size: cover;
}

.box2 {
    background: url(/assets/Share_Information.jpg);
    background-size: cover;
}

.box3 {
    background: url(/assets/abandoned.jpg);
    background-size: cover;
}

.box4 {
    background: url(/assets/Walk.jpg);
    background-size: cover;
}


.outer a {
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid orange;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: auto;
    bottom: 0%;
    text-decoration: none;
    color: white;
}

.outer a:hover {
    box-shadow: 0 0 10px black, 
                0 0 20px orange, 
                0 0 40px black;
}

footer {
    background: black;
}




@media (min-width: 735px) {
    a img {
        width: 200px
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

}

@media (min-width: 768px) {

    .outer h1 {
        margin-bottom: 5%;
    }

    body {
        background: url(/assets/scoutzone.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .row {
        margin-bottom: 5%;
    }

    .outer a {
        bottom: -2%;
    }
}



@media (min-width: 1024px) {

    #navBar {
        height: 90px;
    }

    a img {
        width: 250px;
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    .row {
        display: flex;
        margin: 50px 0;
    }
    
    .box {
        width: calc(40%);
        max-width: 700px;
        color: white;
        height: 100%;
        margin: 10px 20px;
        position: relative;
    }
    .box p {
        top: -35px;
    }

    .outer a {
        bottom: 0%;
    }

  
 
}


@media (min-width: 1200px) {
   
    /* Header bar CSS */

    #navBar {
        height: 90px;
    }

    .outer {
        height: 93vh;
        position: relative;
    }

    

    a img {
        width: 250px
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    .outer h1 {
        font-size: 5em;
    }

    .row {
        display: flex;
        height: 30%;
    }
    
    
    .box {
        width: calc(40%);
        max-width: 700px;
        color: white;
        height: 100%;
        margin: 10px 20px;
        position: relative;
    }

    .outer a {
        padding: 10px 50px;
        bottom: 10%;
    }

   


    @media (min-width: 1500px) {

        .outer h1 {
            margin-top: 3%;
            margin-bottom: 0%;
        }
    
    {
}
    /* Page Specific */