@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(/assets/Enlist_background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}

#navBar {
    height: 50px;
    width: 100%;
}

a img {
    padding-top: 10px;
    padding-left: 10px;
    width: 120px;
    height: auto;
    float: left;
}

ul {
    float: right;
    list-style: none;
    margin-right: 10px;
    margin-top: 10px;
}

ul li {
    display: inline;
    margin: 4px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    padding: 2px 5px;
    transition: all 0.3s ease;
}

ul li a:hover {
    background: orange;
    color:black;
    font-weight: bold;
    border: red;
    box-shadow:  0 0 5px #fff;
}


.outer {
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.title h1 {
    color: white;
    margin: 0% auto;
    letter-spacing: 3px;
    font-weight: 1200;
}

.form {
    padding-top: 210px;
    width: 70%;
    height: 60%;
    margin: 0% auto;
  
}

.form form input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 50px 0;
    background: transparent;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 20px;
}

form button {
    width: 200px;
    height: 50px;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    background: red;
    border-radius: 20px;
    color: white;
    left: 35%;
    position: relative;
}


.checkbox {
    display: flex;
    align-items: center;
}

.checkbox label {
    margin-left: 10px;
    position: relative;
    float: left;
    font-size: 1.3em;
}

::placeholder {
    color: white;
    font-size: 2.3em;
}

form label {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#iOS {
    height: 50px;
    width: auto;
}


#Android {
    height: 10px;
    width: auto

}

#os {
    color: lightblue;
    margin-right: 300pt;
}

#droid {
    color: red;
    float: right;
}


@media (min-width: 735px) {
    a img {
        width: 200px
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    .box h2 {
        font-size: 1.5em;
    }

    .title {
        padding-top: 5%;
    }

    .title h1 {
        font-size: 4em;
        padding-top: 20px;
    }

    .form form input {
        font-size: 1.5em;
        margin: 20px 0;
        border: 0.5px solid white;
    }

    ::placeholder {
        font-size: 1em;
    }

    form button {
        width: 200px;
        height: 50px;
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        border: none;
        background: linear-gradient(90deg, orange, black, orange, black);
        background-size: 400%;
        border-radius: 20px;
        color: black;
    }

    form button:hover {
        animation: animate 8s linear infinite;
        color: white;
        box-shadow: 0 0 10px black, 
                        0 0 15px orange,
                        0 0 20px black,
                        0 0 25px orange, 
                        0 0 30px black;
        
    }
    
    @keyframes animate {
        0% 
        {
            background-position: 0%;
        }
    
        100% 
        {
            background-position: 400%;
        }
    }
    

    #os {
        color: lightblue;
        margin-right: 530px;
    }
    

}

@media (min-width: 1024px) {

    #navBar {
        height: 90px;
    }

    a img {
        width: 250px
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    .title {
        padding-top: 5%;
    }

    .title h1 {
        font-size: 4em;
        padding-top: 20px;
    }

    .form form input {
        font-size: 1.5em;
        margin: 20px 0;
    }

    ::placeholder {
        font-size: 1em;
    }

  
}


@media (min-width: 1200px) {
   
    /* Header bar CSS */

    #navBar {
        height: 90px;
    }

    .outer {
        height: 93vh;
    }

    a img {
        width: 250px
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    /* Page Specific */

    .title {
        padding-top: 5%;
        margin-top: 0%;
    }

    .title h1 {
        font-size: 4em;
        padding-top: 20px;
    }

    .form {
        width: 50%;
    }

    .form form input {
        margin: 20px 0;
    }

    ::placeholder {
        font-size: 1em;
    }

@media (min-width: 1400px) {
    #os {
        color: lightblue;
        margin-right: 150px;
    }

    form button {
        left: 40%
    }
    
}
   
}