@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}


body {
    height: 170vh;
    width: 100vw;
    background: url(/assets/New\ York\ City.png);
    background-size: cover;
    background-position: center;
    backdrop-filter: brightness(0.13);
}

#navBar {
    height: 50px;
    width: 100%;
}

a img {
    padding-top: 10px;
    padding-left: 10px;
    width: 120px;
    height: auto;
    float: left;
}

ul {
    float: right;
    list-style: none;
    margin-right: 10px;
    margin-top: 10px;
}

ul li {
    display: inline;
    margin: 4px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    padding: 2px 5px;
    transition: all 0.3s ease;
}

ul li a:hover {
    background: orange;
    color:black;
    font-weight: bold;
    border: red;
    box-shadow:  0 0 5px #fff;
}

.outer {
    width: 100vw;
    height: 90%;
    text-align: center;
    position: relative;
}

.outer h1 {
   margin-bottom: 5%;
   font-family: 'Times New Roman', Times, serif;
}

#tagline {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

#tagline img {
    width: 50%;
    height: auto;
}

#paragraph {
    width: 60%;
    height: auto;
    margin: auto;
    text-align: left;
}


#paragraph p {
    font-size: 1.5em;
}


#tagline img {
    width: 50%;
    height: auto;
}
/* img {
    width: 25%;
    height: 500px;
    margin: auto;
} */



@media (min-width: 735px) {
    a img {
        width: 200px
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    .outer h1 {
        font-size: 2.5em;
        margin-top: 20px;
    }

}



@media (min-width: 1024px) {

    #navBar {
        height: 90px;
    }

    a img {
        width: 250px;
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    
    .outer h1 {
        font-size: 3em;
    }

    #tagline img {
       height: 400px;
       width: 400px;
    }

    #tagline a {
        text-decoration: none;
    }

    #tagline h2 {
        font-size: 34px;
    }
}




@media (min-width: 1200px) {
   
    /* Header bar CSS */

    #navBar {
        height: 90px;
    }

    .outer {
        height: 93vh;
        position: relative;
    }    

    a img {
        width: 250px
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    .outer h1 {
        font-size: 3.5em;
    }
}