@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: url(/assets/rules_background.jpg);
    background-size: cover;
    background-position: center;
    background-position: fixed;
    width: 100vw;
    height: 100vh;
}

/* Nav Section of Webpage */

#navBar {
    height: 40px;
    width: 100%;
}

a img {
    padding-top: 10px;
    padding-left: 10px;
    width: 120px;
    height: auto;
    float: left;
}

ul {
    float: right;
    list-style: none;
    margin-right: 10px;
    margin-top: 10px;
}

ul li {
    display: inline;
    margin: 4px;
}

ul li a {
    color: white;
    background: rgba(255,255, 255, 0.2);
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    font-weight: 900;
    padding: 2px 5px;
    transition: all 0.3s ease;
}

ul li a:hover {
    background: orange;
    color:black;
    font-weight: bold;
    box-shadow:  0 0 10px orange,
                 0 0 20px black,
                 0 0 40px orange;
}
.outer {
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.content {
    color: white;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.box {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 10vh;
    width: 60vw;
    border: 2px dashed white;
    border-radius: 15px;
    background:rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    filter: brightness(0.9);
}

.box:hover {
    background: orange;
    color: black;
    border: red;
    box-shadow: 0 0 10px black,
                0 0 20px orange,
                0 0 40px black;
}


.box h2 {
    font-size: 1em;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 100%;
}

.box:hover h2 {
    display: initial;
}


@media (min-width: 735px) {
    a img {
        width: 200px
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    .box h2 {
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {

    #navBar {
        height: 90px;
    }

    a img {
        width: 250px
    }

    ul {
        margin-top: 20px;
        margin-right: 20px; 
    }

    ul li a {
        font-size: 1.3em;
        padding: 10px 20px;
    }

    .box {
        height: 10vh;
        width: 40vw;
    }

    .box h2 {
        font-size: 2.5em;
    }
}